/* .BtnBack {
    display: flex;
    padding: 8px;
    align-items: center;
    background-color: white;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 40px;
    cursor: pointer;
}

.BtnBack:focus,
.BtnBack:hover {
    border: 1px solid red;
    background-color: blue;
} */